html {
	height: 100%;
	font-size: 100%;
}


*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1;}

body {
	min-height: 100%;
	font-family: 'Arial', sans-serif;
	font-weight: 400;
	height:100%;
	min-height:1200px;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	
}

.navbar{
	max-width: 200px:
	}
	
.navigation{
	height:3em;
	padding-left: 10em;
	top: 20%;
}

#wrapper {
	width: 100%;
	position: absolute;
	margin: 0 auto;
}
.container {
	width: 980px;
	margin: 0 auto 20px;
}

.ads-container {
	background:#fff;
	width: 750px;
	margin: 0 auto 20px;
}

	
.attribution {
	padding: 3em 0;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.attribution a {
	color: #fff;
}

.media{
	height: 30px;
}

.footer {
	width: 100%;
	color: #F60335;
	background: transparent ;
	height: 70px;
	padding-top: 5em;
	padding-bottom: 0em;
}

.footnav ul {
  	list-style: none;
  	background-color: transparent;
  	text-align: right;
  	padding: 0;
 	margin: 0;
}
.footnav li {
	display: inline-block;
	width: 75px;
  	font-size: .7em;
	font-weight: bold;
  	line-height: 40px;
  	height: 40px;
	padding: .1em;
}
 
.footnav a {
  	text-decoration: none;
  	color: #F60335;
  	display: inline-block;
  	transition: .4s color;
}
 
.footnav a:hover {
 	 color: #F6A901;
}
 
.footnav a.active {
  	background-color: transparent;
  	color:#F60335 ;
  	cursor: default;
}

.copy{
	text-align: left;
	}


.logo{
    max-width: 1000px;
}


.main {
	padding:0;
	margin:0;
	display:block;
}

.entry {
	position:relative;
	float:left;
	margin:10px;
	cursor:pointer;
	width:225px;
	height:225px;
	padding:0;
}

.portfolio { margin:0; }

.magnifier {
	background: rgba(0,0,0,1.00);
	position:absolute;
	top:10px;
	left:10px;
	bottom:10px;
	right:10px;
	opacity:0;
	-webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;
}
.video-hover {
	background: rgba(0,0,0,1.00);
	position:absolute;
	top:10px;
	left:10px;
	bottom:10px;
	right:10px;
	opacity:0;
	-webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;
}

.entry:hover .video-hover,
.entry:hover .magnifier { opacity:1; }

img {
	max-width:100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
-webkit-transition-duration: 0.8s;
   -moz-transition-duration: 0.8s;
        transition-duration: 0.8s;
}

.isotope {
-webkit-transition-property: height, width;
   -moz-transition-property: height, width;
        transition-property: height, width;
}

.isotope .isotope-item {
-webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property:    -moz-transform, opacity;
        transition-property:         transform, opacity;
}
	
.section{
	position: relative;
	display: block;
}

.jump {
	position: absolute;
	width: 10px;
	height: 10px;
	background: #000;
	top: -5em;
	opacity: 0;
	}

.flex{
	display:block;
	width: 100%;
	} 

.about-me{
	padding-top:47em;
	position: relative;
	}
	
.padding2{
	padding-left: .3em;
	padding-right: .5em;
	
}

.logo-pad{
	padding-bottom: 6em;
	padding-left: 0.4em;
	padding-top: 2.5em;
}

input {
  display: none;
  text-align: right;
}


@media screen and (max-width: 768px) {
  
  .logo-pad{
	padding-bottom: 3em;
	padding-top: 0em;
  }

.about-me{
	padding-top:20em;
	}
	
.menu{
	right: 0%;
}
.header{
	padding-top: 2em;
	}
	
.media{
	height: 20px;
}
.footnav li {
	width: 60px;
}
.footnav ul {
	text-align: center;
	}
	
.logo{
	max-width: 180px
	}
	
.logo-pad{
	padding-top: 1em;
	
}
@media only screen and ( max-width: 32.5em ) /* 520 */
{
	body
	{
		
	}
	.container,
	#wrapper
	{
		width: 100%;
		height: auto;
		position: static;
		padding: 3.125em 1.25em; /* 50 20 */
		margin: 0;
	}
}
