@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body {
  	margin: 0;
  	padding: 0;
  	background: #FFF;
	font-family: 'Droid Sans', sans-serif;
	text-align:left;
	color: #585757;
}

.flex{
	display:block;
	width: 100%;
} 
 
.header{
	position:relative;
	width:100%;
}
	 
.nav ul {
  	list-style: none;
  	background-color: #fff;
  	text-align: center;
  	padding: 0;
 	margin: 0;
}
.nav li {
  	font-size: 1em;
  	line-height: 40px;
  	height: 40px;
  	border-bottom: 1px solid #888;
}
 
.nav a {
  	text-decoration: none;
  	color: #F60335;
  	display: block;
  	transition: .4s color;
}
 
.nav a:hover {
 	 color: #F6A901;
}
 
.nav a.active {
  	background-color: #fff;
  	color:#F60335 ;
  	cursor: default;
}

[data-state="closed"]{
	display:none;
}

[data-state="open"]{
	display:block;
}

.footer {
	width: 100%;
	color: #ccc;
	background: #fff;
	height: 250px;
}

.banner {
	text-align: center;
	position:relative;
}

.banner-img {
	padding-top: 56.25%;
	background: url("../images/background.jpg") no-repeat center center;
	background-size: cover;
}

.intro-wrap{
	background-color: #333;
	color: #FFF;
	width:100%;
}

.intro{
	max-width: 20em;
	margin: 0 auto;
}

.banner-branding{
	background: #FA8406;
	background-size: cover;
	text-align: left;
	height: 250px;
	color: #FFFFFF;
}

.banner-print{
	background: #8bd8ce;
	background-size: cover;
	text-align: left;
	height: 250px;
	color: #FFFFFF;
}

.banner-typography{
	background: #F1153D;
	background-size: cover;
	text-align: left;
	height: 250px;
	color:#FFFFFF
}

.banner-interactive{
	background: #55a340;
	background-size: cover;
	text-align: left;
	height: 250px;
	color:#FFFFFF
}

.padding{
	padding-left:3em;
	padding-right:3em;
}

.padding2{
	padding-left:1em;
	padding-right:1em;
}

.logo{
	max-height: 35px;
	padding-top: .5rem;
}

.media{
	height: 35px;
}

.orange{
	height: 220px;
	background: #FA8406;
}

.teal{
	height: 220px;
	background: #8bd8ce;
}

.pink{
	height: 220px;
	background: #F1153D;
}

.green{
	height: 220px;
	background: #55a340;
}

.errorpage{
	color:#ffffff;
	line-height: 40px; 
	text-align: center;
	font-size: 60px;
	padding-top: .5em;
}

.errorpage2{
	color:#ffffff;
	line-height: 40px; 
	text-align: center;
	font-size: 50px;
	padding-top: .7em;
}

a{
	text-decoration: none;
}
@media only screen and (min-width: 25em) {
	
.intro-wrap{
	position: absolute;
	bottom: 30px;
	background: transparent;
	color: #333;
}

.logo{
	max-height:35px;
}

}

@media screen and (min-width: 38em) {
  .header{
		position:fixed;
		width:100%;
	}
  .banner {
	position:inherit;
}
  .nav li {
    	width: 100px;
    	border-bottom: none;
    	height: 75px;
    	line-height: 75px;
    	font-size: 1.1em;
  }
 
  .nav li {
    	display: inline-block;
    	margin-right: -4px;
  }
  
  .intro-wrap{
		bottom: 75px;
	  
  }
  .intro{
	max-width: 30em;
}

.logo{
	max-height: 55px;
}

.media{
	height: 40px;
}
@media only screen and (min-width: 60em) {
   .nav li {
    width: 150px;
    border-bottom: none;
    height: 100px;
    line-height: 100px;
    font-size: 1.1em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
  
  .intro-wrap{
	bottom: 150px;
  }
  
  .intro{
	max-width: 40em;

}
}